@media (min-width: 3840px) {
  .container {
    max-width: 80%;
  }

  .header__logo img {
    width: 450px;
  }

  .nav__link {
    font-size: 44px;
  }

  .search svg {
    width: 60px;
    height: 60px;
  }

  .hero {
    padding: 0 15px;
  }

  .hero__content {
    width: 50%;
  }

  .hero__title {
    font-size: 90px;
  }

  .hero__descr {
    font-size: 43px;
  }

  .hero__container {
    max-width: 3840px;
  }

  .btn--big {
    padding: 40px 58px;
    font-size: 43px;
  }

  .about-us__title {
    font-size: 65px;
  }

  .about-us__descr {
    max-width: 70%;
    font-size: 30px;
    line-height: 50px;
  }

  .blocks {
    gap: 70px;
  }

  .blocks__image {
    width: 50%;
  }

  .blocks__wraper {
    width: 100%;
  }

  .blocks__descr {
    width: 65%;
    margin-right: auto;
    font-size: 30px;
    line-height: 60px;
  }

  .btn--bordercol {
    font-size: 30px;
    padding: 29px 61px
  }

  .about-us__list {
    width: 50%;
    gap: 70px;
  }

  .about-us__text {
    width: 50%;
    margin-left: 200px;
  }

  .about-us__item {
    padding: 100px 70px;
    background-position: 114px center;
  }

  .about-us__subtitle {
    font-size: 36px;
    margin-bottom: 20px;
  }

  .about-us__desc {
    font-size: 30px;
    line-height: 50px;
  }

  .about-us__text {
    margin-left: 350px;
    width: 65%;
  }

  .stages__title {
    font-size: 65px;
  }

  .stages__subtitle {
    font-size: 36px;
    margin-bottom: 22px;
  }

  .stages__descr {
    width: 70%;
    font-size: 30px;
    line-height: 50px;
    margin-bottom: 24px;
  }

  .stages__text {
    width: 50%;
    margin-right: 32px;
  }

  .stages__block {
    justify-content: space-between;
    gap: 70px;
  }

  .stages__pic {
    width: 50%;
  }

  .stages__pic img {
    width: 100%;
  }

  .btn--small,
  .btn--border {
    font-size: 30px;
    padding: 29px 61px;
  }

  .questions__title {
    font-size: 65px;
  }

  .questions__subtitle {
    font-size: 36px;
    width: 100%;
    margin-bottom: 15px;
  }


  .questions__descr {
    width: 100%;
    font-size: 30px;
    line-height: 50px;
  }

  .questions__list {
    gap: 70px;
  }

  .footer__logo img {
    width: 450px;
  }

  .footer__link {
    font-size: 24px
  }

  .footer__list {
    gap: 10px;
    margin-bottom: 25px;
  }

  .footer__title {
    font-size: 65px;
  }

  .footer__input {
    font-size: 28px;
    padding: 22px 27px;
  }

  .footer__form {
    width: 973px;
    margin-bottom: 57px;
  }

  .footer__media {
    width: 80px;
    height: 80px;
    display: flex;
    gap: 15px;
  }

  .footer__media svg {
    width: 80px;
    height: 80px;
  }

  .btn--footer {
    font-size: 30px;
    padding: 29px 61px;
    margin-right: 22px;
  }

  .footer__wrap {
    font-size: 30px;
  }

  .footer__checkbox {
    width: 30px;
    height: 30px;
  }

  .footer__container {
    padding: 50px 150px 50px 50px;
  }

  .footer__text {
    margin-left: 293px;
    width: 700px;
    font-size: 30px;
    line-height: 50px;
  }
}

@media (max-width: 1919px) {
  .container {
    padding: 0 50px;
  }

  .header__logo {
    width: 150px;
  }

  .header {
    padding: 24px 0;
    margin-bottom: 40px;
  }

  .header__container {
    padding: 0 50px;
  }

  .header__nav {
    margin-right: 105px;
  }

  .nav__list {
    gap: 60px;
  }

  .hero__container {
    background-image: url(../IMG/hero_1024.jpg);
    width: 100%;
    padding: 160px 77px;
    margin-bottom: 35px;
  }

  .hero__title {
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 16px;
  }

  .hero__descr {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 60px;
  }

  .about-us__descr {
    margin-bottom: 56px;
  }

  .blocks {
    flex-direction: column;
  }

  .blocks__wraper {
    width: 100%;
    justify-content: space-between;
  }

  .blocks__image {
    height: 640px;
  }

  .about-us__list {
    width: 100%;
  }

  .about-us__item {
    padding: 65px 77px;
    background-position: 76px center;
  }


  .about-us__container {
    margin-bottom: 77px;
  }

  .stages__block {
    justify-content: space-between;
  }

  .stages__descr {
    max-width: 437px;
    margin-bottom: 25px;
  }

  .stages__text {
    margin-right: auto;
  }

  .stages__container {
    margin-bottom: 80px;
  }

  .questions__list {
    flex-direction: column;
    gap: 32px;
  }

  .questions__item {
    width: 100%;
    padding: 64px 60px;
  }

  .questions__subtitle,
  .questions__descr {
    width: 100%;
  }

  .questions__container {
    margin-bottom: 80px;
  }

  .footer__container {
    padding: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .footer__text {
    display: none;
  }

  .footer__form {
    width: 100%;
  }

  .btn--footer {
    width: 240px;
    padding: 19px 30px;
  }

  .btn--small {
    padding: 21px 40px;
    margin-right: 29px;
  }

  .btn--border {
    padding: 19px 37px;
  }

  .footer__input {
    width: 540px;
  }
}

@media (max-width: 1023px) {
  .header {
    padding: 15px 50px;
  }

  .header__logo {
    width: 110px;
  }

  .nav__link {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .nav__list {
    gap: 40px;
  }

  .header__nav {
    margin-right: 43px;
  }

  .header__container {
    padding: 0;
  }

  .hero__container {
    background-image: url(../IMG/hero_768.jpg);
    padding: 160px 40px;
  }

  .hero__content {
    width: 100%;
  }

  .hero__title {
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }

  .hero__descr {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .blocks__descr {
    margin-right: 47px;
  }

  .blocks__wraper {
    padding: 34px 40px;
  }

  .blocks__image {
    height: 650px;
    background-position: center center;
  }

  .about-us__text {
    margin-left: 130px;
  }

  .about-us__item {
    padding: 35px 40px;
    background-size: 114px 99px;
    background-position: 39px center;
  }

  .stages__block {
    flex-direction: column-reverse;
    gap: 31px;
  }

  .stages__pic {
    width: 100%;
  }

  .stages__pic img {
    width: 100%;
  }

  .stages__text {
    margin-right: 0;
  }

  .stages__descr {
    max-width: 1920px;
    width: 100%;
  }

  .questions__item {
    padding: 34px 40px;
  }

  .footer__nav {
    display: none;
  }

  .footer__container {
    flex-direction: column-reverse;
    gap: 50px;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 0 15px;
  }

  .header__wrap {
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
  }

  .header {
    padding: 17px 14px;
  }

  .header__container {
    align-items: flex-start;
  }

  .nav__list {
    flex-shrink: 0;
    gap: 24px;
  }

  .header__nav {
    margin-right: 0;
    width: 100%;
    overflow-x: hidden;
  }

  .header__logo {
    margin-right: 0;
  }

  .header__container {
    padding: 17px 0px 40px 15px;
  }

  .header {
    padding: 0;
    margin-bottom: 20px;
    border-radius: 0px 0px 16px 16px
  }

  .search {
    margin-right: 15px;
    position: absolute;
    right: 0;
    top: 21px;
  }

  .hero__container {
    background-image: url(../IMG/hero_320.png);
    border-radius: 16px;
    padding: 60px 22px;
    text-align: center;
    margin-bottom: 60px;
  }

  .hero__title {
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 6px;
    align-items: center;
  }

  .hero__descr {
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 32px;
  }

  .btn--big {
    font-size: 12px;
    padding: 14px 28px;
    border-radius: 8px;
  }

  .blocks__image {
    position: relative;
    background-image: none;
    height: 100%;
  }

  .blocks__wraper {
    flex-direction: column;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
    align-items: flex-start;
    padding-top: 207px;
  }

  .blocks__image::before {
    content: "";
    position: absolute;
    background-image: url(/weblayout/13_adaptive-layout-mobile/IMG/about-us_worker.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 100%;
    border-radius: 13px;
    top: 0;
  }

  .blocks__descr {
    color: var(--dark);
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    margin-right: 0;
    width: 100%;
    margin-bottom: 12px;
  }

  .btn--bordercol {
    color: var(--accent-middle);
    font-size: 12px;
    font-weight: 700;
    border-radius: 8px;
    padding: 11px 42px;
    height: 100%;
    border: 2px solid var(--accent-middle);
    transition: color 0.3s ease-in-out, border 0.3s ease-in-out, background-color 0.3s ease-in-out;
  }

  .blocks {
    gap: 33px;
  }

  .btn--bordercol:hover,
  .btn--bordercol:focus {
    color: var(--light);
  }

  .btn--bordercol:active {
    border: 2px solid var(--accent-dark);
    background-color: var(--accent-dark);
  }

  .about-us__container {
    margin-bottom: 60px;
  }

  .about-us__title {
    font-size: 24px;
  }

  .about-us__descr {
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 14px;
  }

  .about-us__subtitle {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 4px;
  }

  .about-us__desc {
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
  }

  .about-us__text {
    margin-left: 0;
    width: 100%;
    padding-top: 60px;
  }

  .about-us__item {
    border: none;
    padding: 0;
    border-radius: 0;
    background-size: 64px 49px;
    background-position: left top;
  }

  .about-us__item--cube {
    background-image: url(../IMG/cube_320.svg);
  }

  .about-us__item--gear {
    background-image: url(../IMG/gear_320.svg);
  }

  .about-us__list {
    gap: 32px;
  }

  .stages__title {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 19px;
  }

  .stages__block {
    gap: 13px;
  }

  .stages__subtitle {
    font-size: 18px;
    font-weight: 500;
    line-height: 32px
  }

  .stages__descr {
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
  }

  .btn--small {
    padding: 12px 43px;
    margin-right: 10px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 700;
  }

  .btn--border {
    padding: 12px 30px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 400;
  }

  .stages__container {
    margin-bottom: 60px;
  }

  .questions__title {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
  }

  .questions__descr {
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
  }

  .questions__item {
    padding: 0;
    border-radius: 0;
    border: 0;
  }

  .questions__subtitle {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 4px
  }

  .questions__container {
    margin-bottom: 60px;
  }

  .footer__title {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
  }

  .footer__container {
    padding: 30px 15px;
  }

  .footer__input {
    width: 100%;
  }

  .footer__application {
    width: 100%;
  }

  .footer__input {
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
  }

  .footer__button {
    flex-direction: column;
  }

  .footer__form {
    margin-bottom: 25px;
  }

  .btn--footer {
    width: auto;
    padding: 13px 19px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 12px;
  }

  .footer__right {
    padding-bottom: 25px;
    border-bottom: 1px solid var(--grey-dark);
  }

  .footer__container {
    gap: 16px;
  }

  .footer__logo img {
    width: 131px;
    margin-bottom: 12px;
  }

  .footer__left {
    align-items: center;
  }

  .footer__media {
    width: 40px;
    height: 40px;
  }

  .footer__media svg {
    width: 40px;
    height: 40px;
  }

  .footer__social {
    gap: 16px;
  }
}